// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.logout-button {
 display: inline-block;
 padding: 4px 10px 4px 10px;
 font-size: 20px;
 line-height: 1.8;
 appearance: none;
 box-shadow: none;
 border-radius: 10;
 color: #fff;
 background-color: #6496c8;
 border-radius: 5px;
 border: none;
 position: absolute;
    right: 10px;
    top: 27px;
}

.session-button {
 padding: 4px 10px 4px 10px;
 font-size: 18px;
 line-height: 1.8;
 border-radius: 10;
 color: #fff;
 background-color: #6496c8;
 border-radius: 5px;
 border: none;
 text-align: center;
 width: 75px;
 top: 10px;
 position: relative;

}


.login-form-container {
  display: flex;
  justify-content: center;
  margin-top: 100px;


}

.login-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  justify-content: flex-start;
}

.login-input {
  background-color: white;
  display: flex;
    flex-direction: row;
    justify-content: center;
   width:100%;
   height: 30px;
   font-size: 18px;
}

.login-form-box {
    padding: 20px;
    background-color: white;
    text-align: left;
    justify-content: center;
    position: relative;
    bottom: 90px;
    left: 10px;
}


.login-signup {
  background-color: white;
  height: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 20px;
  right: 30px;
  align-items: center;
}

input:hover {
    cursor: pointer;
}



.session_main {
  display: flex;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    font-size: 16px;
    box-sizing: content-box;
    list-style: none;
    z-index: 1;

}


.session_container {
  width: 200px;
  height: 200px;
  transform: scale(0.6);
  background: rgba(76, 175, 80, 0.3)
}

.session_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 150px;
  height: 150px;
}



.session-feed-container {
  margin-top: 10px;
   display: flex;
   justify-content: flex-start;
   list-style: none;
   height: 100px;
   width: 900px;
   transform: scale(0.9);
};

.logout {
 display: inline-block;
 margin: 0 4px 0 0;
 padding: 4px 4px;
 font-size: 10px;
 // font-family: "Bitter",serif;
 line-height: 1.8;
 appearance: none;
 box-shadow: none;
 border-radius: 10;
 color: #fff;
 background-color: #6496c8;
 border-radius: 5px;
 border: none;
}


.session_container:hover .image {
  opacity: 0.95;
}

.session_container:hover .middle {
  opacity: 1;
}

.session_play {
  color: white;
  padding: 16px 32px;
  width: 120px;
  height: 120px;
}
