/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "base/reset.scss";




  body {
    font-family: 'Abel', sans-serif;

  }



 .button {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 4px;
  font-size: 20px;
  // font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 10;
  color: #fff;
  background-color: #6496c8;
  border-radius: 5px;
  border: none;
  text-align: center;
}



.logout-button {
 display: inline-block;
 padding: 4px 4px 4px;
 font-size: 20px;
 line-height: 1.8;
 appearance: none;
 box-shadow: none;
 border-radius: 10;
 color: #fff;
 background-color: #6496c8;
 border-radius: 5px;
 border: none;
}




 header {
   margin-left: 5%;
   background-color: white;
 }



 h1, h5 {
   background-color: white;
 }



 .session {
   text-decoration: underline;
 }



 .header-name {
   font-size: 65px;
   font-weight: bold;
   font-style: oblique;

 }


 .header-container {
   display: flex;
    height: 100px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    position: fixed;
    justify-content: space-between;
    z-index: 3;
    top: 0;
 }


.header-group-left {
  height: 50px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    justify-content: left;
}


.header-group-right {
  height: 40px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 400px;
    margin: 20px;
    margin-bottom: 30px;

}


.header-button {
  float: right;
  background-color: white;
}



 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;


 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: white;
   justify-content: flex-start;
 }

 .login-input {
  //  margin-left: 20px;
   background-color: white;
   display: flex;
     flex-direction: row;
     justify-content: center;
    width:100%;
 }

 .login-form-box {

   padding: 20px;
   background-color: white;
   text-align: left;
   border-radius: 10px;
   position: absolute;
    top: 15%;
    width:300px;
    height: 300px;
 }

 .info-feed-box {
   padding: 20px;
   background-color: white;
   text-align: center;
   border-radius: 10px;
   width: 540px;
   height: 400px;
 }

 .info-feed-container {
   display: flex;

 }



 .profile-container {
    display: block;
    width: 975px;

    padding: 60px 20px 0;
    position: relative;
    top: -44px;
}



 .opaque-background {
   background-color: rgba(255, 255, 255, 0.4);
   width: 100%;
 }





 .login-signup {
   background-color: white;
   height: 30px;
   text-decoration: underline;
   font-weight: bold;

 }



.content_main {
    display: block;
    width: 600px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-decoration: none;
    font: 11px BlinkMacSystemFont;
    font-size: 16px;
    box-sizing: content-box;
    padding: 0;
    line-height: 1.1666666666;
    opacity: 1;
    list-style: none;
}



  .post_photo{
    display: block;
    text-decoration: none;
    font: 12px BlinkMacSystemFont;
    font-size: 16px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    line-height: 1.1666666666;
    background-color: rgba(0,0,0,1);
    width: 520px;
    height: 520px;
}

.post_photo:hover {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   moz-transition: opacity .25s ease-in-out;
   webkit-transition: opacity .25s ease-in-out;
   background-color: rgba(255, 255, 255, 0.7);

}




.parent {
  position: relative;;
  top: 20px;
  left: -325px;
}

.image1 {
  position: absolute;;
  top: 0;
  left: 0;
  z-index: 1;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 2;
  height: 303px;
  width: 303px;
}

.user-info-box {
padding: 20px;
background-color: white;
height: 358px;
width: 460px;
position: relative;
top: 20px;
left: 212px;
border-style: solid;
border-width: 1px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 50px;
  transform: scale(1.1);


}

.user-song-info {
  text-align: left;
}

.user-name-info {
  float: right;
}


.user-name {
  margin: 10px;
    padding: 10;
    outline: 1;
    font: serif;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    margin-top: 10px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 25px;

}

.add-post-button {
  position: relative;
  height: 75px;
  width: 75px;
  border-style: none;
  float: right;
}

.add-button {
  position: absolute;
    height: 30px;
    width: 70px;
    border-style: none;
    float: right;
    top: 320px;
    left: 440px;
}


 .user-feed-container {
   display: flex;
   justify-content: flex-start;
   overflow: scroll;
   transform: scale(.9);
 };

 .session-feed-container {
   margin-top:10px;
   display: flex;
   justify-content: flex-start;
   list-style: none;
   height: 300px;
   width: 900px;
   transform: scale(0.8);
 };



.delete-button {
  font-size: 20px;
  height: 20px;
  width: 20px;
  float:right;
  border-style: none;

}





.home_background {

  height: 100%;
  width: 100%;
}

.feed_background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}


.feed_group {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;

}

.post_footer {
    padding: 20px 24px;
    margin-bottom: 65px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    width:570px;
    // background-color: rgba(0,0,0,1);
}

.post_header {
    padding: 20px 24px;
    // margin-bottom: 65px;
    border-top: 1px solid rgba(0,0,0,0.08);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    width:570px;
    // background-color: rgba(0,0,0,1);
}

.footer_artist {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer_title {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 20px;
}

.user_text {
    display: list-item;
    text-align: -webkit-match-parent;
}


 .logo {
   width: 60px;
   height: 60px;
   display: flex;
   float: left;
   margin-top: 10px;
 }


 .logout {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 4px;
  font-size: 10px;
  // font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 10;
  color: #fff;
  background-color: #6496c8;
  border-radius: 5px;
  border: none;
}


.container {
    position: relative;
    width: 50%;
}

.session_container {
  width: 200px;
  height: 200px;
  transform: scale(0.6);
  background: rgba(76, 175, 80, 0.3)
}

.session_image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 260px;
  height: 260px;
}


.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 620px;
  height: 620px;
}

.create-title {
  text-align: center;
}


.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.session_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.9;
}

.container:hover .middle {
  opacity: 1;
}


.session_container:hover .image {
  opacity: 0.9;
}

.session_container:hover .middle {
  opacity: 1;
}

.session_play {
  color: white;
  padding: 16px 32px;
  width: 120px;
  height: 120px;
}

.play {
  color: white;
  padding: 16px 32px;
  width: 120px;
  height: 120px;
}

.footer {
    position:fixed;
    height:340px;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    background-color: #6496c8;
    overflow: scroll;
}

.footer-text {
  color: white;
  position: fixed;
  font-weight: bold;
  text-align: center;
  padding: 5px;
  background-color: #6496c8;
}

.background-image {
background-image: url("http://i.imgur.com/7N5HQja.gif");
position: fixed;
left: 0;
right: 0;
z-index: 0;

display: block;

height: 100%;

-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
filter: blur(5px);
}


.content {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 9999;
}
