/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "base/reset.scss";




  body {
    // font-family: 'Abel', sans-serif;
    // font-family: 'Bungee Shade', cursive;
    // font-family: 'Gloria Hallelujah', cursive;
    // font-family: 'Permanent Marker', cursive;
    // font-family: 'Passion One', cursive;
    // font-family: 'Shrikhand', none;
    font-family: 'Roboto', sans-serif;
  }


  .player-container {
    background-color: #fafafa;
    font-size: 20px;
    display: flex;
    list-style: none;

  }

  .hidden-playbar {
    background-color: #6496c8;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    max-height: 0px;
    transition: max-height 3s;
  }

 .button {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 4px;
  font-size: 20px;
  // font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 10;
  color: #fff;
  background-color: #6496c8;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}





 header {
   margin-left: 5%;
   background-color: white;
 }


 h1, h5 {
   background-color: white;
 }



 .session {
   color: #6295CA;
   font-weight: bold;
 }



 .header-name {
   font-size: 65px;
   font-weight: bold;
   font-style: oblique;

 }

 .player-image {
   width: 70px;
    height: 70px;
    padding-right: 10px;
 }

 .player-text {
   padding-top: 10px
 }


 .header-container {
   display: flex;
    height: 90px;
    background-color: white;
    width: 100%;
    margin-bottom: 30px;
    background-color: white;
    position: absolute;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    position: relative;
 }


.header-group-left {
  height: 50px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    justify-content: left;
}


.header-group-right {
  height: 40px;
    background-color: white;
    width: 100%;
    margin: 0px auto;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    width: 400px;
    margin: 20px;
    margin-bottom: 30px;

}


.header-button {
  float: right;
  background-color: white;
}




 .create-form-box {
   padding: 20px;
   background-color: white;
   text-align: left;
   z-index: 3;
   border-radius: 10px;
   position: absolute;
   top: 15%;
   width: 20%;

 }




 .opaque-background {
  //  background-color: rgba(255, 255, 255, 0.4);
   width: 100%;
   margin-top: 10px;
 }



.parent {
  position: relative;;
  top: 20px;
  left: -325px;
}

.image1 {
  position: absolute;;
  top: 0;
  left: 0;
  z-index: 1;
}

.image2 {
  position: absolute;
    top: 30px;
    left: 72px;
    z-index: 2;
    height: 340px;
    width: 340px;
    outline: none;
    border: 0;
    box-shadow: 10px 0px 30px;
}




.add-post-button {
  position: relative;
  height: 70px;
  width: 70px;
  border-style: none;
  float: right;
  padding-right: 25px;
  padding-top: 5px;

}

.add-button {
  position: absolute;
    height: 70px;
    width: 70px;
    border-style: none;
    float: right;
    top: 305px;
    left: 440px;
}




audio {
  height: 50px;
    position: absolute;
    right: 30px;
    width: 50%;
    display: flex;
    justify-content: flex-end;

}




.home_background {

  height: 100%;
  width: 100%;
}



.feed_background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  // padding-top: 100px;
}


.feed_group {
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;

}




.footer_artist {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
}

.footer_title {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 20px;
}



 .logo-image {
   width: 60px;
   height: 60px;
   display: flex;
   float: left;
   margin-top: 10px;
 }

.logo-text {
  font-family: 'Bungee Shade', cursive;
  padding-left: 15px;
  padding-bottom: 15px;
}




.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 620px;
  height: 620px;
}

.create-title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 20px;
}

.welcome-descriptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  background-color: #8d929a;

}

.welcome-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 33%;
  z-index: 3;
  background-color: white;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-left: 5px;
  margin-right: 5px;
  opacity: 0.90;
}

.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transition: .5s ease;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}




.session_middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.95;
}

.container:hover .middle {
  opacity: 1;
}




.play {
  color: white;
  padding: 16px 32px;
  width: 120px;
  height: 120px;
}


.footer {
    position:fixed;
    display:flex;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    background-color: #6496c8;
    overflow: scroll;
    height:40%;
    transform: scale(1);


}

.footer-text {
  color: white;
  position: fixed;
  padding-top: 5px;
  font-weight: bold;
  text-align: center;
  background-color: #6496c8;
  font-size: 20px;
  padding-left: 30px;


}



.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;

  display: block;
  background-image: url("http://i.imgur.com/7N5HQja.gif");
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: opacity(1) blur(5px)
}



.content {
  left: 0;
  right: 0;
  z-index: 9999;
}


.footer-playbar {
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    margin-bottom:0px;
    background-color: #fafafa;
    overflow: scroll;
    padding-left:10px;
    transition: max-height 3s;

}
