/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "base/reset.scss";




  body {
    font-family: 'Abel', sans-serif;

  }



 .button {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 4px;
  font-size: 20px;
  // font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 10;
  color: #fff;
  background-color: #6496c8;
  border-radius: 5px;
  border: none;
}




 header {
   margin-left: 5%;
   background-color: white;
 }

 h1, h5 {
   background-color: white;
 }

 .session {
   text-decoration: underline;
 }



 .header-name {
  //  margin: 7px 0 0 0;
   background-color: white;


 }

.header-group {
  //  background-image: url("http://i.imgur.com/7N5HQja.gif");
}

.header-button {
  float: right;
  background-color: white;
}



 .login-form-container {
   display: flex;
   justify-content: center;
   margin-top: 100px;


 }

 .login-form {
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-color: white;
 }

 .login-input {
   margin-left: 20px;
   background-color: white;
   text-align: left;
 }

 .login-form-box {

   padding: 20px;
   background-color: white;
   text-align: center;
   border-radius: 10px;
 }

 .info-feed-box {
   padding: 20px;
   background-color: white;
   text-align: center;
   border-radius: 10px;
   width: 540px;
   height: 400px;
 }

 .info-feed-container {
   display: flex;

 }

 .user-feed-container {
   display: flex;
   justify-content: center;
   border-style: solid;
   border-width: 1px;
   height: 100%;
   width: 100%;

 }

 .profile-container {
    display: block;
    width: 975px;

    padding: 60px 20px 0;
    position: relative;
    top: -44px;
}



 .opaque-background {
   background-color: rgba(255, 255, 255, 0.4);
 }





 .login-signup {
   background-color: white;
   height: 30px;
   text-decoration: underline;
 }

//  .post {
//   position:absolute;;
// }

.content_main {
    display: block;
    width: 600px;
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    text-decoration: none;
    font: 11px BlinkMacSystemFont;
    font-size: 16px;
    box-sizing: content-box;
    padding: 0;
    line-height: 1.1666666666;
    opacity: 1;
    list-style: none;
}

// .post-header {
//     background-color: white;
//     padding: 14px 20px;
//     font-size: 15px;
//     font-weight: bold;
//     color: #303942;
//     border-left: 1px solid rgba(0,0,0,0.08);
//     border-right: 1px solid rgba(0,0,0,0.08);
//     border-top: 1px solid rgba(0,0,0,0.08);
//     border-top-left-radius: 3px;
//     border-top-right-radius: 3px;
// }

// .feed_photo {
//   width: 400px;
//   height: 400px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

  .post_photo{
    display: block;
    text-decoration: none;
    font: 12px BlinkMacSystemFont;
    font-size: 16px;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    line-height: 1.1666666666;
    background-color: rgba(0,0,0,1);
    width: 520px;
    height: 520px;
}

.post_photo:hover {
   opacity: 0.5;
   transition: opacity .25s ease-in-out;
   moz-transition: opacity .25s ease-in-out;
   webkit-transition: opacity .25s ease-in-out;
   background-color: rgba(255, 255, 255, 0.7);

}



.parent {
  position: relative;;
  top: 20px;
  left: -325px;
}

.image1 {
  position: absolute;;
  top: 0;
  left: 0;
  z-index: 1;
}

.image2 {
  position: absolute;
  top: 30px;
  left: 70px;
  z-index: 3;
  height: 303px;
  width: 303px;
}

.user-info-box {
padding: 20px;
background-color: white;
height: 358px;
width: 460px;
position: relative;
top: 20px;
left: 212px;
border-style: solid;
border-width: 1px;
}

.user-info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding: 50px;
}

.user-song-info {
  text-align: left;
}

.user-name-info {
  display: flex;
  justify-content: flex-end;



}

.add-post-button {
  position: relative;
  height: 75px;
  width: 75px;
  border-style: none;
  float: right;
}

.add-button {
  position: relative;
  height: 30px;
  width: 70px;
  border-style: none;
  float: right;
  top: 270px;
  left: 30px
}

.add-button:focus {
  outline:none;
}

 .user-feed-container {
   display: flex;
   flex-direction: row;
   justify-content: center;
   overflow: auto;
 };






.home_background {
  // background-image: url("http://i.imgur.com/7N5HQja.gif");
  height: 100%;
  width: 100%;
}

.feed_background {
  background-image: url("http://i.imgur.com/7N5HQja.gif");
  height: 100%;
  width: 100%;
}


.feed_group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: left;

}

.post_footer {
    padding: 20px 24px;
    margin-bottom: 65px;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    width:570px;
    // background-color: rgba(0,0,0,1);
}

.post_header {
    padding: 20px 24px;
    // margin-bottom: 65px;
    border-top: 1px solid rgba(0,0,0,0.08);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: white;
    width:570px;
    // background-color: rgba(0,0,0,1);
}

.footer_artist {
    display: list-item;
    text-align: -webkit-match-parent;
}

.footer_title {
    display: list-item;
    text-align: -webkit-match-parent;
    font-size: 20px;
}

.user_text {
    display: list-item;
    text-align: -webkit-match-parent;
}


 .logo {
   width: 60px;
   height: 60px;
   display: flex;
   float: left;
   margin-top: 10px;
 }


 .logout {
  display: inline-block;
  margin: 0 4px 0 0;
  padding: 4px 4px;
  font-size: 10px;
  // font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 10;
  color: #fff;
  background-color: #6496c8;
  border-radius: 5px;
  border: none;
}


.container {
    position: relative;
    width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  width: 620px;
  height: 620px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.9;
}

.container:hover .middle {
  opacity: 1;
}

.play {
  color: white;
  padding: 16px 32px;
  width: 120px;
  height: 120px;
}
